h1{
    font-size: 2em;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.divTitre h2{
    color: var(--lightblue);
}
.sectionTitre{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divTitre{
    width: 50%;
}
.imageTitre{
    margin: auto;
    margin-top: 135px;
}
.texteTitre{
    margin-bottom: 40px;
}
.btn-armonia {
    background-color: var(--lightblue);
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    border-color: transparent;
    margin-right: 3%;
}
.btn-armonia:hover {
    background-color: var(--bluebtn);
    color: var(--redbtn);
    transition-duration: 0.2s;
    margin-top: -5px;
    margin-bottom: 5px;
    cursor: pointer;
}
@media (max-width:992px){
    .sectionTitre{
        margin: 0px;
        flex-direction: column;
    }
    .divTitre{
        margin-top: 150px;
        width: 100%;
    }
    h1{
        text-align: center;
    }
    h2{
        color: blue;
        text-align: center;
    }
    .imageTitre{
        margin: auto;
        padding: 50px;
        width: 70%;
    }
}
.sectionDeux{
    text-align: center;
}
.sectionDeux h3{
    color: var(--lightblue);
    font-size: 2.7em;
    margin: 0;
}
.bulle-avantage{
    display: inline-block;
    background-color: rgba(66,186,150,.1);
    color: #42ba96;
    border-radius: 20px;
    border: none;
    font-size: 1em;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'hk_groteskregular'; 
    margin: 30px 0 0 0;
}
.blocsVignettes{
    margin: 50px 0;
}

.titreVideo{
    font-size: 2em;
    text-align: center;
    color: var(--lightblue);
}
.sous-titreYoutube{
    text-align: center;
    font-size: 1em;
    padding-bottom: 20px;
    border-bottom:  1px solid black;
}
@media (max-width:992px){
    .blocsVignettes{
        margin: 0px;
    }
    .sectionVignettes{
        margin-top: 50px;
    }
    .bulle-avantage{
        font-size: 1.5em;
    }
}
.titreEtapes{
    font-size: 2.7em;
    text-align: center;
    color: var(--lightblue);
    margin-bottom: 50px;
}
.divEtapes{
    width: 30%;
}
.etapesChiffre{
    font-size: 2.7em;
    text-align: center;
    color: var(--lightblue);
    margin: 0;
}
.etapesTitre{
    text-align: center;
    font-family: 'hk_groteskbold';
    font-size: 1.2em;
    margin-top: 0;
}
.etapesParagraphe{
    text-align: center;
}
.flexEtapes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-ouvrir{
    background-color: var(--lightblue);
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    border-color: transparent;
}
.btn-ouvrir:hover{
    background-color: var(--bluebtn);
    color: var(--redbtn);
    transition-duration: 0.2s;
    cursor: pointer;
}

@media (max-width:992px){
    .titreEtapes{
        font-size: 2em;
    }
    .flexEtapes{
        flex-direction: column;
        margin: 50px 0;
    }
    .divEtapes{
        width: 100%;
    }
    .btn-ouvrir, .btn-ouvrir:hover{
        margin: 0px;
    }
    .center-btn{
        display: block;
        text-align: center;
        margin: 20px 0 40px 0;
    }
}
.divLicence{
    border: 1px solid black;
    box-shadow: -1px 0px 10px 1px rgb(156, 156, 153);
    padding-bottom: 20px;
    margin: 50px 0;

}
.divLicence:hover{
    box-shadow: -1px 0px 10px 3px rgb(41, 41, 39);
    transition-duration: 1s;
    cursor: pointer
}
.divLicence h5{
    text-align: center;
    font-size: 1.3em;
    color: var(--lightblue);
    margin: 30px 0 0 0;
    padding: 0;
}
.sectionLicence{
    text-align: center;
    margin: 50px 0;
}
.titreLicence{
    font-size: 1.7em;
    color: var(--lightblue);
    text-align: center;
}
.prixLicence{
    font-size: 4em;
    margin: -20px 0;
    padding: 0px;
}
.btn-prix-licence{
    background: var(--lightbluelicence);
    color: var(--lightblue);
    padding: .8125rem 1.25rem;
    border: 1px solid transparent;
    font-size: 1.0625rem;
    margin-bottom: 20px;
}
.btn-prix-licence:hover{
    background-color: rgba(51,94,234,.15);
    color: var(--lightblue);
}
.divLicence h5{
    font-size: 25px;
        padding: 10px 30px;
        margin-top: 80px;
    text-align: center;
    color: var(--lightblue);
    margin: 30px 0 0 0;
    /* TEST CSS */
    background-color: var(--lightbluelicence);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'hk_groteskregular';
}
@media (max-width:992px){
    .divLicence{
        width: 100%;
        height: 550px;
        margin: 100px auto;
        padding-bottom: 20px;
    }
    .divLicence p{
        padding: 0 5%;
    }
    .prixLicence{
        font-size: 100px;
    }
    .texte-Licence{
        font-size: 30px;
    }
    .btn-prix-licence{
        font-size: 30px;
        padding: 20px 60px;
    }
    .divLicence h5{
        font-size: 25px;
        padding: 10px 30px;
        margin-top: 80px;
    }
}
.titreQuestions{
    font-size: 2em;
    text-align: center;
}
.sous-titreQuestions{
    font-size: 1em;
    text-align: center;
}
.faq h4{
    font-size: 1.3em;
    font-family: 'hk_groteskregular';
    background-color: #C3C9E0;
    color: var(--lightblue);
    padding: 5px;
}
@media (max-width:992px){
    .titreQuestions{
        margin-top: 30px;
    }
}
.titreInscription{
    margin: 40px 0 ;
    font-size: 1.5em;
    text-align: center;
}
.paragrapheInscription{
    text-align: center;
}
.divImage{
    width: 50%;
}
.paddingTexte{
    padding: 40px;
}
.image{
    width: 100%;
}
.flexSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.paragrapheImage{
    text-align: center;
}
.sectionFinal{
    text-align: center;
}
@media (max-width:992px){
    .flexSection{
        flex-direction: column;
    }
    .divImage{
        width: 100%;
    } 
}
footer{
    padding-top: 30px;
}
/* CHANGEMENT DE LA POLICE */
@media (max-width:992px){
    .etapesTitre{
        font-family: 'hk_groteskbold';
        font-weight: 100; 
    }
}