h1{
    font-size: 2em;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

@media (max-width:992px){
    

}
.sectionTitre{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divTitre{
    width: 50%;
}
.imageTitre{
    margin: auto;
    margin-top: 135px;
}
.texteTitre{
    margin-bottom: 40px;
}
.btn-armonia {
    background-color: #325eea;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    border-color: transparent;
    margin-right: 3%;
}
.btn-armonia:hover {
    background-color: blue;
    color: red;
    transition-duration: 0.2s;
    margin-top: -5px;
    margin-bottom: 5px;
    cursor: pointer;
}
@media (max-width:992px){
    .sectionTitre{
        margin: 0px;
        flex-direction: column;
    }
    .divTitre{
        margin-top: 150px;
        width: 100%;
    }
    h1,h2{
        color: blue;
        text-align: center;
    }
    .divTitre a{
        display: block;
        text-align: center;
    }
    .imageTitre{
        margin: auto;
        padding: 50px;
    }
}
.sectionDeux{
    text-align: center;
}
.sectionDeux h2{
    font-size: 1.2em;
    border: 1px solid black;
}
.sectionDeux h3{
    font-size: 1.7em;
    color: #325eea;

}
.blocsVignettes{
    margin: 50px 0;
}
.centerYoutube{
    width: 50%;
    margin: auto;
}
@media (max-width:992px){
    .blocsVignettes{
        margin: 0px;
    }
    .sectionVignettes{
        margin-top: 50px;
    }
    .centerYoutube{
        text-align: -webkit-center;
        width: 70%;
    }
}

.titreVideo{
    font-size: 2em;
    text-align: center;
    color: #325eea;
}
.youtube{
    display: block;
    margin-top: 50px;
    width: 90%;
}
.sous-titreYoutube{
    text-align: center;
    font-size: 1em;
    padding-bottom: 20px;
    border-bottom:  1px solid black;
}
.titreEtapes{
    font-size: 2.7em;
    text-align: center;
    color: #325eea;
    margin-bottom: 50px;
}
.divEtapes{
    width: 30%;
}
.etapesChiffre{
    font-size: 2.7em;
    text-align: center;
    color: #325eea;
    margin: 0;
}
.etapesTitre{
    text-align: center;
    font-family: 'hk_groteskbold';
    font-size: 1.2em;
    margin-top: 0;
}
.etapesParagraphe{
    text-align: center;
}
.flexEtapes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-ouvrir{
    background-color: #325eea;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    border-color: transparent;
    margin: 30px 40% 10px 40%;
}
.btn-ouvrir:hover{
    background-color: blue;
    color: red;
    margin: 20px 40% 20px 40%;
    transition-duration: 0.2s;
    cursor: pointer;
}

@media (max-width:992px){
    .titreEtapes{
        font-size: 2em;
    }
    .flexEtapes{
        flex-direction: column;
    }
    .divEtapes{
        width: 100%;
    }
    .btn-ouvrir, .btn-ouvrir:hover{
        margin: 0px;
    }
    .centerBtn{
        display: block;
        text-align: center;
        margin: 20px 0 40px 0;
    }
}
.divLicence{
    border: 1px solid black;
    box-shadow: -1px 0px 10px 1px rgb(156, 156, 153);

}
.divLicence:hover{
    box-shadow: -1px 0px 10px 3px rgb(41, 41, 39);
    transition-duration: 1s;
    cursor: pointer
}
.divLicence h5{
    text-align: center;
    font-size: 1.3em;
    color: #325eea;
    margin: 30px 0 0 0;
    padding: 0;
}
.sectionLicence{
    text-align: center;
}
.titreLicence{
    font-size: 1.7em;
    color: #325eea;
    text-align: center;
}
.prixLicence{
    font-size: 4em;
    margin: -20px 0;
    padding: 0px;
}
.btn-licence{
    background-color: #325eea;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    border-color: transparent;
    margin: 0px 40% 10px 40%;
}
.btn-licence:hover{
    background-color: blue;
    color: red;
    margin: -10px 40% 20px 40%;
    transition-duration: 0.2s;
    cursor: pointer;
}
@media (max-width:992px){
    .btn-licence, .btn-licence:hover{
        margin: 0px;
    }
}
.titreQuestions{
    font-size: 2em;
    text-align: center;
}
.sous-titreQuestions{
    font-size: 1em;
    text-align: center;
}
.gras{
    font-family: 'hk_groteskbold';
}
.faq h4{
    font-size: 1.3em;
    font-family: 'hk_groteskregular';
    background-color: #C3C9E0;
    color: #325eea;
    padding: 5px;
}
@media (max-width:992px){
    .titreQuestions{
        margin-top: 30px;
    }
}
.titreInscription{
    margin: 40px 0 ;
    font-size: 1.5em;
    text-align: center;
}
.paragrapheInscription{
    text-align: center;
}
.btn-inscription{
    background-color: #325eea;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    border-color: transparent;
}
.btn-inscription:hover{
    background-color: blue;
    color: red;
    margin: -10px 0 10px 0;
    transition-duration: 0.2s;
    cursor: pointer;
}
.center-btn{
    display: block;
    text-align: center;
}
.divImage{
    width: 50%;
}
.paddingTexte{
    padding: 40px;
}
.image{
    width: 100%;
}
.flexSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.paragrapheImage{
    text-align: center;
}
.sectionFinal{
    text-align: center;
}
@media (max-width:992px){
    #inscription a{
        display: block;
        text-align: center;
    }
    .btn-inscription{
        margin: 0;
    }
    .btn-inscription:hover{
        margin: 0;
    }
    .flexSection{
        flex-direction: column;
    }
    .divImage{
        width: 100%;
    }
    
}
footer{
    padding-top: 30px;
}
