h1{
    padding-top: 20px;
}
h2{
    font-size: 2em;
    color: #325eea;
}
p{
    text-align: center;
}
.logoATG{
    padding-left: 20px;

}
#justify2{
    text-align: justify;
}
.ul-menu-page{
    padding: 0;
}
.menu-page li{
    text-decoration: underline;
    background-color: #DEE4F8;
    padding: 5px;
    box-shadow: -1px 0px 10px 1px rgb(68, 68, 63);
    margin: 5px 0;
}
.menu-page li:hover{
    box-shadow: -1px 0px 10px 3px rgb(41, 41, 39);
    transition-duration: 1s;
    cursor: pointer;
    margin-left: 20px;
}
.menu-page a{
    color: #325eea;
    font-size: 1.2em; 
    display: block;
    text-align: center;
}
.menu-page a:hover{
    color: red;
}
.h5-menu{
    font-size: 1.5em;
    margin: 30px 0 0 0;
}
@media (max-width:992px){
    h1, h2{
        margin: 5px 0;
        padding: 0;
        text-align: center;
        font-size: 4em;
    }
    h1{
        padding-top: 170px;
        margin-top: 0;
        
    }
    .logoATG{
        width: 100%;
        padding-left: 0px;
    }
    iframe{
        width: 80%;
    }
}
.btn-inscription{
    background-color: #325eea;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    border-color: transparent;
}
.btn-inscription:hover{
    background-color: blue;
    color: red;
    margin: -10px 0 10px 0;
    transition-duration: 0.2s;
    cursor: pointer;
}
.center-btn{
    display: block;
    text-align: center;
}
.margin-btn{
    margin-top: 20px;
}
.margin-btn:hover{
    margin-top: 10px;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divCenter{
    width: 48%;
}
.w{
    padding-right: 30px;
}
@media (max-width:992px) {
    .margin-btn {
        margin: 20px 0;
    }
    .margin-btn:hover{
        margin: 20px 0;
    }
    .mobileCenter-btn{
        display: block;
        text-align: center;
    }  
}
.sectionDeux{
    text-align: center;
}
.sectionDeux h2{
    font-size: 1.2em;
    border: 1px solid black;
}
.sectionDeux h3{
    font-size: 1.7em;
    color: #325eea;
}

.titreEtapes{
    font-size: 2.7em;
    text-align: center;
    color: #325eea;
    margin-bottom: 50px;
}
.divEtapes{
    width: 30%;
}
.etapesChiffre{
    font-size: 2.7em;
    text-align: center;
    color: #325eea;
    margin: 0;
}
.etapesTitre{
    text-align: center;
    font-family: 'hk_groteskbold';
    font-size: 1.2em;
    margin-top: 0;
}
.etapesParagraphe{
    text-align: center;
}
.flexEtapes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-ouvrir{
    background-color: #325eea;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    border-color: transparent;
}
.btn-ouvrir:hover{
    background-color: blue;
    color: red;
    margin: -10px 0 10px 0;
    transition-duration: 0.2s;
    cursor: pointer;
}
@media (max-width:992px){
    .titreEtapes{
        font-size: 2em;
    }
    .flexEtapes{
        flex-direction: column;
    }
    .divEtapes{
        width: 100%;
    }
}
.sectionTableau{
    margin-top: 50px;
}
.imageCenter{
    width: 70%;
    display: block;
    margin: auto;
}
.titreTableau{
    color: #325eea;
    font-size: 1.7em;
    margin-bottom: 0px;
}
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées */
    border: 1px solid #EDDBAD;
    width: 100%;
    caption-side: bottom;
    margin: 50px 0;
}
caption{
    margin: 30px 0;
}
td,th
{
    
    height: 40px;
    width: 20%;
    font-size: 1.1em;
    text-align: left;
}
th{
    font-family: 'hk_groteskbold';
    font-size: 1em;
}
.beige{
    background-color: #EDDBAD;
}
.colonneGauche{
    padding-left: 10px;
    font-size: 1.5em;
    font-family: 'hk_groteskbold';
}

.divLicence{
    border: 1px solid black;
    padding-bottom: 10px;
    box-shadow: -1px 0px 10px 1px rgb(156, 156, 153);
    width: 32%;
}
.tailleDiv{
    width: 49%;
    margin-top: 20px;
}
.divLicence:hover{
    box-shadow: -1px 0px 10px 3px rgb(41, 41, 39);
    transition-duration: 1s;
    cursor: pointer
}
.divLicence h5{
    text-align: center;
    font-size: 1.3em;
    color: #325eea;
    margin: 30px 0 0 0;
    padding: 0;
}
.sectionLicence{
    text-align: center;
}
.titreLicence{
    font-size: 1.7em;
    color: #325eea;
    text-align: left;
}
.texteLicence{
    font-weight: 700;
}
.prixLicence{
    font-size: 4em;
    margin: -20px 0;
    padding: 0px;
}
.btn-licence{
    background-color: #325eea;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.1em;
    border-color: transparent;
}
.btn-licence:hover{
    background-color: blue;
    color: red;
    margin: -10px 0 10px 0;
    transition-duration: 0.2s;
    cursor: pointer;
}
.flexLicence{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width:992px){
    .btn-licence, .btn-licence:hover{
        margin: 0px;
    }
}
.titreQuestions{
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
}
.sous-titreQuestions{
    font-size: 1em;
    text-align: center;
}
.gras{
    font-family: 'hk_groteskbold';
}
.faq h4{
    color: #325eea;
}
@media (max-width:992px){
    .titreQuestions{
        margin-top: 30px;
    }
}
.divContact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: -1px 0px 10px 1px rgb(156, 156, 153);
    margin: 50px 0;
    height: 200px;
}
.divContact:hover{
    box-shadow: -1px 0px 10px 3px rgb(41, 41, 39);
}
.divContact h5{
    font-size: 1.1em;
}
.divContact p{
    padding: 0 10px;
}
.tailleDivContact{
    width: 31%;
}
.divContact img{
    width: 100%;
    height: 200px;
    border-radius: 0px;
}
.paddingContact{
    text-align: center;
    margin: auto;
}
.titreInscription{
    margin: 40px 0 ;
    font-size: 1.5em;
    text-align: center;
}
.paragrapheInscription{
    text-align: center;
}
.sous-lesEtapes{
    font-size: 1.4em;
    font-family: 'hk_groteskregular';
}
.etapesBis{
    color: #325eea;
    font-size: 1.6em;
}
.flexSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flexSection-licence{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.paragrapheImage{
    text-align: center;
}
.divImage{
    width: 50%;
}
.paddingTexte{
    padding: 40px;
}
.image{
    width: 70%;
    display: block;
    margin: auto;
}
.imageUp{
    width: 80%;
    display: block;
    margin: auto;
}
.red{
    color: red;
}
.flexCrypto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.flexCrypto p {
    border: 1px solid black;
    padding: 5px;
}
.tailleDiv33{
    width: 31%;
}
.textePansaka{
    font-size: 1.7em;
}
.espacement{
    margin-top: 100px;
    margin-bottom: 100px;

}
.taille50{
    width: 50%;
}
@media (max-width:992px){
    .w{
        padding-right: 0px;
    }
    .flex{
        flex-direction: column;
    }
    .flexSection{
        flex-direction: column;
    }
    .flexCrypto{
        flex-direction: column;
        align-items: center;
    }
    .flexCrypto div{
        width: 100%;
    }
    .flexCrypto p{
        border: none;
        padding: 0;
    }
    .divCenter{
        width: 100%;
    }
    .divCenter p {
        text-align: center;
    }
    .divImage{
        width: 100%;
    }
    .tailleDiv33{
        width: 100%;
    }
    .taille50{
        width: 100%;
    }
    .image,.imageUp,.image80{
        width: 80%;
    }
    .imageCenter{
        width: 100%;
    }
    /**** TABLEAU *****/
    th{
        font-size: 0.8em;
    }
    /**** FIN TABLEAU *****/

    /**** LICENCE *******/ 
    .flexLicence{
        flex-direction: column;
    }
    .divLicence{
        width: 70%;
        margin: 30px auto;
        padding-bottom: 20px;
    }
    .divLicence p{
        padding: 0 5%;
    }
    /***** FIN LICENCE *****/
    /******* CONTACT ******/
    .divContact{
        margin: auto;
        height: auto;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .tailleDivContact{
        width: 100%;
    }
    .divContact img{
        height: auto;
        width: auto;
        width: 100%;
    }
    .divContact p{
        font-size: 1em;
        padding: 0 10% 20px 10%;
    }
    /******* FIN CONTACT ******/
    h4{
        padding: 4px 0 4px 10px;
        background-color: #C3C9E0;
        font-size: 1.8em;
    }
    /*p{
        font-size: 1.5em;
    }*/
    .titreVignettes, .etapesTitre{
        font-size: 1.5em;
    }
    .mobile80{
        width: 80%;
      }
    .sous-lesEtapes h5,.etapesBis{
        text-align: center;
    }
    
    
}
