h1{
    font-size: 2em;
    margin: 40px 0;
}
h2{
    color: #325eea;
    font-size: 1.6em;
}
p{
    text-align: center;
}
body{
    min-width: auto;
}
@media (max-width:992px){
    h1{
        margin : 0px;
        padding-top: 120px;
    }
}
.lien{
    color: #325eea; 
}
.lien:hover{
    color: blue;
    text-decoration: underline;
}
.sectionCenter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.divCenter{
    width: 50%;
}
.imgCenter{
    width: 70%;
    display: block;
    margin:  auto;

}
.texteCenter{
    padding: 20px;
}
.essai{
    width: 100%;
}
.gras{
    font-family: 'hk_groteskbold';
}
.underline{
    text-decoration: underline;
}
.btn-inscription{
    background-color: #325eea;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    border-color: transparent;
}
.btn-inscription:hover{
    background-color: blue;
    color: red;
    margin: -10px 0 10px 0;
    transition-duration: 0.2s;
    cursor: pointer;
}
.center-btn{
    display: block;
    text-align: center;
}
.margin-btn{
    margin-bottom: 50px;
}
.imageLink{
    width: 50%;
    display: block;
    margin: auto;
}
@media (max-width:992px){
    .sectionCenter{
        flex-direction: column;
    }
    .divCenter{
        width: 100%;
    }
    .imgCenter{
        width: 100%;
    }
}