h1{
    font-size: 2em;
    margin: 40px 0;
}
h2{
    color: #325eea;
    font-size: 1.6em;
}
p{
    text-align: center;
}
body{
    min-width: auto;
}
@media (max-width:992px){
    h1{
        margin : 0px;
        padding-top: 120px;
    }
    h2{
        padding: 4px 0 4px 10px;
        background-color: #C3C9E0;
        font-size: 1.8em;
        text-align: center;
    }
}
.ul-menu-page{
    padding: 0;
}
.menu-page li{
    text-decoration: underline;
    background-color: #DEE4F8;
    padding: 5px;
    box-shadow: -1px 0px 10px 1px rgb(68, 68, 63);
    margin: 5px 0;
}
.menu-page li:hover{
    box-shadow: -1px 0px 10px 3px rgb(41, 41, 39);
    transition-duration: 1s;
    cursor: pointer;
    margin-left: 20px;
}
.menu-page a{
    color: #325eea;
    font-size: 1.2em; 
    display: block;
    text-align: center;
}
.menu-page a:hover{
    color: red;
}
.h5-menu{
    font-size: 1.5em;
    margin: 30px 0 0 0;
}
.sectionCenter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.divCenter{
    width: 50%;
}
.imgCenter{
    width: 70%;
    display: block;
    margin:  auto;

}
.texteCenter{
    padding: 20px;
}
.essai{
    width: 100%;
}
.gras{
    font-family: 'hk_groteskbold';
}
.btn-inscription{
    background-color: #325eea;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    border-color: transparent;
}
.btn-inscription:hover{
    background-color: blue;
    color: red;
    margin: -10px 0 10px 0;
    transition-duration: 0.2s;
    cursor: pointer;
}
.center-btn{
    display: block;
    text-align: center;
}
.margin-btn{
    margin-bottom: 50px;
}

@media (max-width:992px){
    .sectionCenter{
        flex-direction: column;
    }
    .divCenter{
        width: 100%;
    }
    .imgCenter{
        width: 80%;
    }
}