.flex{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
h1{
    font-size: 4em;
    margin: 0;
    margin-top: -30px;
    padding: 0;
    color: #325eea;
}
.image{
    width: 100%;
    display: block;
    margin: auto;
}
.imageUp{
    width: 80%;
    display: block;
    margin: auto;
}
.image65{
    width: 65%;
    display: block;
    margin: auto;
}
.texteTitre{
    margin: 0;
    margin-bottom: 20px;
    padding-right: 40px;
    text-align: justify;
}
.btn-ouvrir{
    background-color: #325eea;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    margin-top: 10px;
    border-color: transparent;
}
.btn-ouvrir:hover{
    background-color: blue;
    color: red;
    font-size: 1.2em;
    transition-duration: 0.2s;
    cursor: pointer;
}
.btn-color{
    background-color: #DEE4F8 ;
    color: #325eea;
}
.btn-color:hover{
    background-color: #dee4f8af;
    color: #325eea;
}

.center-btn{
    display: block;
    text-align: center;
}
.espacement{
    margin: 50px 0;
}
h2{
    font-size: 2.5em;
    font-family: 'hk_groteskregular';
}
.h2-color{
    color: #325eea;
}
.ul-menu-page{
    padding: 0;
}
.menu-page li{
    text-decoration: underline;
    background-color: #DEE4F8;
    padding: 5px;
    box-shadow: -1px 0px 10px 1px rgb(68, 68, 63);
    margin: 5px 0;
}
.menu-page li:hover{
    box-shadow: -1px 0px 10px 3px rgb(41, 41, 39);
    transition-duration: 1s;
    cursor: pointer;
    margin-left: 20px;
}
.menu-page a{
    color: #325eea;
    font-size: 1.2em; 
    display: block;
    text-align: center;
}
.menu-page a:hover{
    color: red;
}
.h5-menu{
    font-size: 1.5em;
    margin: 30px 0 0 0;
}
.flex-display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flex-display-33{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.flex-start{
    align-items: flex-start;
}
.margin-texte{
    padding-left: 20px;
}
.margin-texte h6{
    font-size: 1.4em;
    margin: 0;
}
.texteToken{
    font-size: 1.5em;
}
.etapesBis{
    color: #325eea;
    font-size: 1.6em;
}
.sous-lesEtapes{
    font-family: 'hk_groteskregular';
    background-color: #C3C9E0;
    color: #325eea;
    font-size: 1.8em;
    padding: 5px;

}
.black-border{
    border: 1px solid black;
    text-align: center;
}
.image-depot{
    width: 70%;
}
@media (max-width:992px){
    h1{
        text-align: center;
    }
    .texteTitre{
        text-align: center;
        margin : 30px 0 40px 0;
    }
    .flex{
        padding-top: 130px;
        flex-direction: column;
    }
    .flex-display, .flex-display-33{
        flex-direction: column;
    }
    .div50, .div33{
         width: 100%;
    }
    p{
        text-align: center;
    }
    #presentation h6{
        text-align: center;
    }
    .imageBinance{
        margin-top: 50px;
    }
    .btn-ouvrir:hover{
        margin: 0px;
    }
    .mobileCenter-btn{
        display: block;
        margin: auto;
    }
    .block-center{
        display: block;
        text-align: center;
    }
    .btn-color{
        margin-left: 20px;
    }
    .btn-color:hover{
        margin-left: 20px;
    }
    .margin-texte{
        padding-left: 0;
        margin-top: 30px;
    }
    .mobileCenter-btn{
        display: block;
        text-align: center;
    }
    .left{
        text-align: center;
    }
    .black-border{
        border: none;
    }
    .image-depot{
        width: 80%;
    }
    .sous-lesEtapes{
        text-align: center;
    }
    .imageUp{
        width: 80%;
    }
}