h1{
    font-size: 4em;
    color: #325eea;
    margin: 0;
    padding: 30px 0 0 0;
}
p{
    text-align: center
}
.image{
    width: 100%;
    display: block;
    margin: auto;
}
.image-center{
    display: block;
    margin: auto;
}
.h5-menu{
    font-size: 1.5em;
    margin: 30px 0 0 0;
}
.ul-menu-page{
    padding: 0;
}
.menu-page li{
    text-decoration: underline;
    background-color: #DEE4F8;
    padding: 5px;
    box-shadow: -1px 0px 10px 1px rgb(68, 68, 63);
    margin: 5px 0;
}
.menu-page li:hover{
    box-shadow: -1px 0px 10px 3px rgb(41, 41, 39);
    transition-duration: 1s;
    cursor: pointer;
    margin-left: 20px;
}
.menu-page a{
    color: #325eea;
    font-size: 1.2em; 
    display: block;
    text-align: center;
}
.menu-page a:hover{
    color: red;
}
.h5-menu{
    font-size: 1.5em;
    margin: 30px 0 0 0;
}
.sous-lesEtapes{
    font-size: 1.4em;
    font-family: 'hk_groteskregular';
    background-color: #C3C9E0;
    color: #325eea;
    font-size: 1.8em;
    padding: 5px;
}
.red{
    color: red;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.black-border{
    border: solid 1px black;
}
.image80{
    width: 80%;
}
.divTxID{
    width: 25%;
}
.divTxID2{
    width: 48%;
}
.padding-left20{
    padding-left: 20px;
}
.image30{
    width: 30%;
}