.divFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
}

.divTitre-texte{
    width: 55%;
}

.divTitre-Image{
    width: 45%;
}
h1 {
    font-size: 4em;
    color: var(--lightblue);
    margin: 0;
}
h2{
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-top: 10px;
}

.titreSection{
    font-size: 2em;
    color: var(--lightblue);
    margin-top: 100px;
    margin-bottom: 30px;

}
/* TABLEAU  */
.divFlex-tableau{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divTableau{
    width: 70%;
}
.divTableau-texte{
    margin-left: 40px;
    width: 30%;
}
.colonneGauche{
    padding-left: 40px;
    font-family: 'hk_groteskbold';
    width: 18%;
}
.colonneDroite{
    text-align: left;
}
tr{
    height: 80px;
    width: 100%;
}
td,th{
    text-align: left;
    width: 15%;
}

.color-cellule{
    background-color: #F8FBFD;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.blue{
    color: blue;
    font-family: 'hk_groteskbold';
    margin-right: 5px;
}
/* FIN TABLEAU */
.image{
    width: 100%;
}
.image40{
    width: 40%;
    display: block;
    margin: auto;
}
.flex-affiliation{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divImg-affi{
    width: 50%;
}
.divFlex2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.div50{
    width: 50%;
}
.paddingDroite{
    padding-right: 40px;
}
.margin50{
    margin-top: 50px;
}
#inscription{
    margin-top: 50px;
    text-decoration: underline;
}
.imagebis{
    width: 100%;
    height: 90%;
    padding-left: 50px;
}
.text-center{
    text-align: center;
}
@media (max-width: 992px) {
    .margin50{
        margin-top: 0;
    }
    .divFlex{
        flex-direction: column;
        padding-top: 150px;
    }
    .divTitre-Image, .divTitre-texte, .divTableau, .divTableau-texte{
        width: 100%;
    }
    h1,h2{
        text-align: center;
    }
    .titreSection{
        text-align: center;
    }
    .divFlex-tableau, .flex-affiliation{
        flex-direction: column;
    }
    .divTableau-texte{
        margin-left: 0;
    }
    .divImg-affi{
        width: 80%;
    }
    .divFlex2{
        flex-direction: column;
    }
    .div50{
        width: 100%;
    }.paddingDroite{
        padding-right: 0px;
    }
}



@media (max-width:992px){
    .mobile-left{
        text-align: left;
    }
}


/* MEnu */ 
.ul-menu-page{
    padding: 0;
}
.menu-page li{
    text-decoration: underline;
    background-color: #DEE4F8;
    padding: 5px;
    box-shadow: -1px 0px 10px 1px rgb(68, 68, 63);
    margin: 5px 0;
}
.menu-page li:hover{
    box-shadow: -1px 0px 10px 3px rgb(41, 41, 39);
    transition-duration: 1s;
    cursor: pointer;
    margin-left: 20px;
}
.menu-page a{
    color: var(--lightblue);
    font-size: 1.2em; 
    display: block;
    text-align: center;
}
.menu-page a:hover{
    color: red;
}
.h5-menu{
    font-size: 1.5em;
    margin: 30px 0 0 0;
}

/* Bulle avantages */ 
.sectionDeux{
    text-align: center;
}
.sectionDeux h3{
    color: var(--lightblue);
    font-size: 2.7em;
    margin: 0;
}
.bulle-avantage{
    display: inline-block;
    background-color: rgba(66,186,150,.1);
    color: #42ba96;
    border-radius: 20px;
    border: none;
    font-size: 1em;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'hk_groteskregular'; 
    margin: 30px 0 0 0;
}
@media (max-width:992px){
    .bulle-avantage{
        font-size: 1.5em;
    }
}