@font-face {
  font-family: 'hk_groteskbold';
  src: url('fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
       url('fonts/hkgrotesk-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'hk_groteskregular';
  src: url('fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
       url('fonts/hkgrotesk-bold-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'hk_groteskitalic';
  src: url('fonts/hkgrotesk-italic-webfont.woff2') format('woff2'),
       url('fonts/hkgrotesk-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'hk_groteskbold_italic';
  src: url('fonts/hkgrotesk-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/hkgrotesk-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
html,
body {
  margin: 0px;
  padding: 0px;
}
* {
  font-family: 'hk_groteskregular', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'hk_groteskbold';
}
p {
  font-size: 1.1em;
  line-height: 2;
}
li {
  list-style-type: none;
}
main {
  padding: 0 10%;
  padding-top: 50px;
  background-color: #FFF

}
a {
  text-decoration: none;
  color: black;
}
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #F1F4F8;
  z-index: 10;
}
ul{
  margin: 0;
  padding: 0;
}
.button{
  background-color: #325eea;
      border: none;
      color: white;
      padding: 12px 20px;
      border-radius :5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1.2em;
      cursor: pointer;
}
.button:hover{
  background-color: blue;
  color: red; 
  transition-duration: 0.2s;
}
.btn-menu{
  font-size: 1.2em;
}
.btn-menu:hover{
  color: #FFF;
}
.center-link{
  text-align: center;
}
.titre {
  color: blue;
  font-size: 1.2em;
}
.titre:hover {
  cursor: pointer;
}
@media (min-width:992px){
  .menu{
      padding: 0 2%;
      justify-content: space-evenly;
  }
}
@media (max-width: 992px) {
  main {
    padding: 0 5%;
    margin: 0;
  }
  p {
    text-align: center;
    font-size: 1.5em;
  }
  a{
    font-size: 1.5em;
  }
  body,
  html,
  header {
    min-width: 350px;
  }
  .button{
    font-size: 1.5em;
  }
  .navigation{
      padding: 0 5%;
  }
  .titre{
      font-size: 1.5em;
  }
  .center-link-mobile{
    text-align: center;
  }
}
.flex-start{
    align-items: flex-start;
}
.espacement100{
    margin-top: 100px;
}
.espacement50{
    margin-top: 50px;
}
.image50{
    width: 50%;
    display: block;
    margin: auto;
}
.image60{
    width: 60%;
    display: block;
    margin: auto;
}
.image70{
    width: 70%;
    display: block;
    margin: auto;
}
.image80{
    width: 80%;
    display: block;
    margin: auto;
}
.image90{
    width: 90%;
    display: block;
    margin: auto;
}
@media (max-width:992px){
    .image50,.image60,.image70,.image80,.image90{
        width: 80%;
    }
}
/****** GENERALITE *******/
.center{
    text-align: center;
}
.center-btn{
  display: block;
  text-align: center;
}
.underline{
  text-decoration: underline;
}
.gras{
  font-family: 'hk_groteskbold';
}
.justify{
  text-align: justify;
}
.lien{
  color: #325eea;
}
.lien:hover{
  color: blue;
  text-decoration: underline;
}
.left{
  text-align: left;
}
.div50{
  width: 49%;
}
.div33{
  width: 31%;
}
.italic{
  font-family: 'hk_groteskitalic';
}
/***** END *****/

@media (max-width:992px){
    .espacement100{
        margin-top: 0;
    }
    .mobile60{
      width: 60%;
    }
    .mobile80{
      width: 80%;
    }
}
.sidenav li{
  position: relative;
}
.sous-menu{
  display: none;
  position: absolute;
  width: 80%;
  left: -22px;
  top: 25px;
}
.sous-menu li{
  float: none;
  width: 100%;
  text-align: left;
  background-color: #FFF;
  padding: 10px 17px;
  padding-left: 5px;
}
.sous-menu li:hover{
  background-color: #325eea;
}
.sous-menu a:hover{
  color: #FFF;
}
.desktop-menu li:hover .sous-menu{
  display: block;
}
.sous-menu-mobile{
  display: none;
  position: absolute;
  width: 100%;
  left: 40%;
  top: 0;
}
.sous-menu-mobile li{
  float: none;
  width: 30%;
  text-align: left;
  background-color: #FFF;
  padding: 10px 17px;
  padding-left: 2px;
}
.sidenav li:hover .sous-menu-mobile{
  display: block;
}
.sidenav {
  height: 100%;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -100%;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: left 0.5s ease;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

/* Active class */
.sidenav.active {
  right: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 6px;
  background-color: blue;
  margin: 6px 0;
}
.burger-icon {
  position: absolute;
  right: 30%;
  top: 26px;
}
/***** MENU MOBILE *******/
.sidenav a{
  font-size: 3em;
}
.sidenav ul{
  margin-top: 100px;
}
#closeBtn{
  font-size: 5em;
  right: 50px;
}
@media (max-width:992px){
  .burger-icon{
      top: 51px;
  }
  .burger-icon span{
      height: 7px;
  }
}
.caret{
  font-size: 0.6em;
}
/******** FIN MENU MOBILE **********/ 
.divYoutube{
  text-align: center;
}
.youtube{
  margin-top: 50px;
  width: 50%;
  border: none;
}
@media (max-width:992px){
  .youtube{
      width: 70%;
  }
}
.container-faq {
  width: 100%;
  max-width: 900px;
  min-width: 700px;
  height: auto;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
  border-radius: 5px 5px 0 0;
  box-shadow: -1px 0px 10px 1px rgb(231, 231, 228);

}
.questions {
  width: 100%;
  height: auto;
}
.visible-pannel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  background-color: #FFF;
  position: relative;
  z-index: 9;
  height: 80px;
  border-top: 1px solid #F1F4F8;
  cursor: pointer;
}
.visible-pannel h5 {
  margin-left: 20px;
  padding: 15px 5px;
  font-size: 1em;
  font-family: 'hk_groteskregular';

}
.visible-pannel h4 {
  margin-left: 10px;
  padding: 15px 5px;
  font-size: 1em;
}
.visible-pannel img {
  margin-right: 20px;
  width: 13px;
  cursor: pointer;
}
.toggle-pannel {
  padding: 0px 15px;
  height: 0px;
  /* opacity: 0; */
}
.toggle-pannel h6 {
  font-size: 18px;
  margin: 20px 0;
  margin-left: 10px;
  padding: 0;
}
.toggle-pannel p{
  color: #4F6590;
  text-align: left;
  margin-left: 10px;

}
.titre-faq{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  background-color: #FFF;
  position: relative;
  z-index: 9;
  height: 80px;
  border-top: 1px solid #F1F4F8;
  border-top: none;
  border-radius: 5px 5px 0 0;
}
.titre-faq h4{
  margin-left: 25px;
}
.titre-faq p{
  color: #45BB97;
  padding: 2px 15px;
  margin: 0 20px 0 0;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.7em;
  background-color: #EDF8F5;
  letter-spacing: 2px;
}
@media (max-width:992px){
  .visible-pannel,.titre-faq{
      height: 150px;
      font-size: 1.5em;
  }
  .visible-pannel h5{
      width: 70%;
      margin-left: 50px;
  }
  .visible-pannel img{
      margin-right: 50px;
      width: 20px;
  }
  .toggle-pannel h6{
      font-size: 1.7em;
      margin-left: 50px;
  }
  .toggle-pannel p{
      text-align: left;
      margin-left: 50px;
      margin-right: 25px;
  }
  .titre-faq h4{
      margin-left: 55px;
      width: 50%;
  }
  .titre-faq p{
      width: 35%;
  }
}
