.flex-start{
    align-items: flex-start;
}
.espacement100{
    margin-top: 100px;
}
.espacement50{
    margin-top: 50px;
}
.image50{
    width: 50%;
    display: block;
    margin: auto;
}
.image60{
    width: 60%;
    display: block;
    margin: auto;
}
.image70{
    width: 70%;
    display: block;
    margin: auto;
}
.image80{
    width: 80%;
    display: block;
    margin: auto;
}
.image90{
    width: 90%;
    display: block;
    margin: auto;
}
@media (max-width:992px){
    .image50,.image60,.image70,.image80,.image90{
        width: 100%;
    }
}
/****** GENERALITE *******/
.center{
    text-align: center;
  }
  .center-btn{
    display: block;
    text-align: center;
  }
  .underline{
    text-decoration: underline;
  }
  .gras{
    font-family: 'hk_groteskbold';
  }
  .justify{
    text-align: justify;
  }
  .lien{
    color: #325eea;
  }
  .lien:hover{
    color: blue;
    text-decoration: underline;
  }
  .left{
    text-align: left;
  }
  .div50{
    width: 49%;
  }
  .div33{
    width: 31%;
  }
  .italic{
    font-family: 'hk_groteskitalic';
  }
  @media (max-width:992px){
    p{
      font-size: 1.5em;
    }
  }
/***** END *****/

@media (max-width:992px){
    .espacement100{
        margin-top: 0;
    }
    .mobile60{
      width: 60%;
    }
    .mobile80{
      width: 80%;
    }
}
