@font-face {
  font-family: 'hk_groteskbold';
  src: url('fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
       url('fonts/hkgrotesk-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'hk_groteskregular';
  src: url('fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
       url('fonts/hkgrotesk-bold-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'hk_groteskitalic';
  src: url('fonts/hkgrotesk-italic-webfont.woff2') format('woff2'),
       url('fonts/hkgrotesk-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'hk_groteskbold_italic';
  src: url('fonts/hkgrotesk-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/hkgrotesk-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
html,
body {
  margin: 0px;
  padding: 0px;
}
* {
  font-family: 'hk_groteskregular', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'hk_groteskbold';
}
p {
  font-size: 1.1em;
  line-height: 2;
}
li {
  list-style-type: none;
}
main {
  padding: 0 5%;
  padding-top: 50px;
  background-color: #FFF

}
a {
  text-decoration: none;
  color: black;
}
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #F1F4F8;
  z-index: 10;
}

@media (max-width: 992px) {
  main {
    padding: 0 5%;
    margin: 0;
  }
  p {
    text-align: center;
    font-size: 1.2em;
  }
  a{
    font-size: 1.2em;
  }
  body,
  html,
  header {
    min-width: 350px;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  height: 80px;
}
.titre {
  color: blue;
  font-size: 1.2em;
}
.titre:hover {
  color: blue;
  cursor: pointer;
  font-size: 1.2em;
  transition-duration: 0.5s;
}
.desktop-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
}
.desktop-menu li {
  color: black;
  min-width: 100px;
  margin: 0 1%;
  font-size: 1.1em;
  text-align: center;
  white-space: nowrap;
  position: relative;

}
.desktop-menu a:hover {
  color: blue;
  cursor: pointer;
  /*font-size: 1.15em;*/
  transition-duration: 0.5s;
}
.sidenav li{
  position: relative;
}
.sous-menu{
  display: none;
  position: absolute;
  width: 80%;
  left: -22px;
  top: 25px;
}
.sous-menu li{
  float: none;
  width: 100%;
  text-align: left;
  background-color: #FFF;
  padding: 10px 17px;
  padding-left: 5px;
}
.sous-menu li:hover{
  background-color: #325eea;
}
.sous-menu a:hover{
  color: #FFF;
}
.desktop-menu li:hover .sous-menu{
  display: block;
}
.sous-menu-mobile{
  display: none;
  position: absolute;
  width: 80%;
  left: 40%;
}
.sous-menu-mobile li{
  float: none;
  width: 30%;
  text-align: left;
  background-color: #FFF;
  padding: 10px 17px;
  padding-left: 2px;
}
.sidenav li:hover .sous-menu-mobile{
  display: block;
}
.btn-contact {
  background-color: #325eea;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  border-color: transparent;
  margin-right: 3%;
}
.link-contact {
  color: white;
}
.btn-contact:hover {
  background-color: blue;
  cursor: pointer;
}
.sidenav {
  height: 100%;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -100%;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: left 0.5s ease;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

/* Active class */
.sidenav.active {
  right: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 6px;
  background-color: blue;
  margin: 6px 0;
}
.burger-icon {
  position: absolute;
  right: 30%;
  top: 26px;
}
/***** RESPONSIVE HEADER *******/

@media (min-width: 992px) {
  #openBtn {
    visibility: hidden;
  }
}
@media (max-width: 992px) {
  .desktop-menu {
    visibility: hidden;
  }
  .menu {
    padding: 0;
    justify-content: space-between;
    min-width: 150px;
    height: 100px;
  }
  .btn-contact {
    margin-right: 5%;
  }
  
  .titre {
    margin-left: 10%;
  }
}
@media (max-width: 500px) {
  .titre {
    margin-left: 20px;
  }
  .burger-icon {
    right: 5%;
  }
  .btn-contact {
    visibility: hidden;
  }
}

/***** MAIN ******/
.premiereSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}
.premierParagraphe {
  padding: 20px 70px;
  font-size: 1.3em;
  width: 70%;
}
.premierParagraphe h1 {
  font-size: 2em;
  font-weight: 500;
}
.premierParagraphe p {
  font-size: 0.9em;
}
.premiereImage {
  width: 30%;
}
.premiereImage img {
  width: 100%;
  height: 60%;
  padding: 100px 0px;
}

@media (max-width: 992px) {
  .premiereImage {
    width: 80%;
  }
  .premiereImage img {
    padding-bottom: 0px;
    padding-top: 120px;
  }
  .premierParagraphe {
    padding: 0;
    width: 100%;
  }
  .premierParagraphe h1 {
    text-align: center;
  }
  .premiereSection {
    flex-direction: column;
    align-items: center;
  }
}

.blocsVignettes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.troisBlocs {
  width: 30%;
}
.texteVignettes{
  text-align: center;
}
.troisImages {
  display: block;
  margin: auto;
}
.titreVignettes {
  text-align: center;
}
.titreH2 {
  text-align: center;
  margin: 50px 0;
}
.paragrapheMilieu {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .blocsVignettes {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .troisBlocs {
    width: 75%;
    margin: 30px 0;
  }
}

.divBusiness {
  width: 30%;
  border-radius: 5px;
  padding-bottom: 5px;
  box-shadow: -1px 0px 10px 1px rgb(68, 68, 63);
}
.texteBusiness {
  padding: 10px 10% 0 10%;
}
.texteBusiness a {
  margin-right: 2px;
  text-decoration: none;
  color: black;
}
.texteBusiness h5 {
  font-size: 1.3em;
}
.texteBusiness a {
  color: blue;
}
.lienBusiness {
  color: blue;
  margin-top: 60px;
}
.lienBusiness:hover {
  font-size: 1.2em;
  transition-duration: 1s;
}
.paragrapheBusiness {
  height: 100px; 
}
.imageBusiness {
  width: 100%;
  height: 40%;
  border-radius: 5px 5px 25px 0px;
}
.sectionBusiness {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .sectionBusiness {
    flex-direction: column;
    align-items: center;
  }
  .divBusiness {
    width: 100%;
    height: 900px;
    margin: 30px 0;
  }
  .texteBusiness h5,
  .lienBusiness {
    margin: 0;
    margin-top: 30px;
    padding: 0;
  }

  .imageBusiness{
    height: 600px;
    border-radius: 5px;
  }
  .paragrapheBusiness{
    text-align: left;
  }
}
.sectionQuatre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titreSectionQuatre{
  margin-top: 50px;
}
.sectionQuatre p {
  margin: 40px 0;
}
.divSectionQuatre {
  width: 49%;
}
.titreSectionQuatre,
.paragrapheSectionQuatre {
  text-align: center;
}
.PTSDI {
  color: blue;
}
.citation {
  color: blue;
  font-size: 1.7em;
  text-align: center;
}

@media (max-width: 992px) {
  .sectionQuatre {
    flex-direction: column;
    align-items: center;
  }
  .divSectionQuatre {
    width: 100%;
  }
  .citation{
    font-size: 1.7em;
  }
}
.faq {
  margin: 25px 15%;
  padding: 10px 30px;
  border-radius: 1px;
  box-shadow: -1px 0px 10px 1px rgb(207, 207, 200);
}
.last {
  margin-bottom: 0;
}
.faq h4 {
  margin-bottom: 30px;
  text-align: left;
}
.faq p {
  font-weight: normal;
  margin-bottom: 20px;
  text-align: left;
}
.sectionCinq {
  padding-bottom: 10px;
}
.sectionCinq h2{
  font-size: 1.5em;
  text-align: center;
  
}
.sectionCinq h4{
  font-size: 1.3em;
  font-family: 'hk_groteskregular';
  background-color: #C3C9E0;
  color: #325eea;
  padding: 5px;
}
.sectionCinq h5{
  font-size: 1.3em;
  text-align: center;
}
.sectionCinq h6{
  font-size: 1.1em;
  text-align: center;
}
.faq h5 {
  font-size: 1.2em;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
@media (max-width: 992px) {
  .faq {
    margin: 40px 0px;
  }
  .sectionCinq h2{
    font-size: 1.5em;
    
  }
  .sectionCinq h5{
    font-size: 1.3em;
  }
  .sectionCinq h6{
    font-size: 1.1em;
  }
}
/**** FOOTER ****/
footer {
  padding: 0px;
  padding-top: 80px;
  background-color: #FFF;
}
.sectionFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  margin-bottom: -100px;
  position: relative;
}
.divFooter {
  width: 30%;
  border-radius: 5px;
  padding-bottom: 5px;
  box-shadow: -1px 0px 10px 1px rgb(156, 156, 153);
  background-color: #FFF;
  height: 600px;
}
.divFooter:hover {
  box-shadow: -1px 0px 10px 3px rgb(41, 41, 39);
  transition-duration: 1s;
  cursor: pointer;
}
.imageFooter {
  width: 100%;
  height: 35%;
  border-radius: 5px 5px 20px 0px;
}

.texteFooter {
  padding: 10px 10% 0 10%;
  height: 350px;
}
.texteFooter a {
  margin-right: 2px;
  text-decoration: none;
  color: black;
}
.texteFooter h5 {
  font-size: 1.1em;
}
.paragrapheFooter {
  height: 60px;
  font-size: 1em;
}
.divFooter a {
  color: black;
  text-decoration: none;
}
.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 3%;
}
.sectionWarning {
  background-color: rgb(0, 28, 56);
  color: #4e6490;
  padding: 0;
}
.sectionWarning h5,
.sectionWarning p,
.sectionWarning i {
  padding: 0 2%;
}
.sectionWarning svg {
  display: block;
  margin-bottom: -150px;
  padding: 0;
}
.disclaimer {
  margin-top: 50px;
  font-size: 1em;
}
.btn-telegram {
  color: cyan;
  font-size: 3em;
}
@media (max-width: 992px) {
  footer {
    padding-top: 20px;
  }
  .sectionFooter {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .divFooter {
    width: 100%;
    margin: 20px 0;
    height: 850px;
  }
  .texteFooter {
    height: 250px;
  }
  .texteFooter h5 {
    text-align: center;
    height: 45px;
  }
  .sectionFooter {
    margin-bottom: 0px;
    padding: 0 5%;
  }
  .vague {
    visibility: hidden;
  }
  .sectionWarning{
    margin-top: 30px;
  }
  .imageFooter{
    height: 600px;
  }
}
/******* FIN FOOTER ******/
